html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* removes scrollbars */
    width: 100%;
    height: 100%;
}

canvas.webgl {
    display: block; /* remove default inline spacing */
    width: 100%;
    height: 100%;
    touch-action: none; /* prevents default touch gestures like scroll/zoom */
}
